<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.stormpath.sdk">
    <uses-sdk tools:overrideLibrary="android.support.customtabs"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>


        <activity
                android:name=".android.WebviewActivity">
        </activity>

    </application>

</manifest>